<div class="p-20 bg-green-100">

    <h3 class="text-green-400 mb-4 text-sm font-bold">Success</h3>
  
    <div class="bg-white p-6 rounded-lg shadow-xl">
      <h2 class="mb-2 font-bold text-2xl text-gray-600">Dear <%= first_name %>, <br> your  response is recived;  <i class="checkmark">✓</i></h2>
      <p class="text-gray-500"><br> I'll be in touch shortly!</p>
    </div>
  </div>
  
    <h1</h1> 
      <p></p>
   